body {background: #f9f9f9 url(/resources/img/page-bg-1.jpg);}
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
#header{
	padding: 10px 10px 10px 10px;
	text-align:  center;
	background-color: rgba(128, 128, 128, 0.82);
	color: white;
}
.nav-barmain{
			display: -webkit-inline-box;
			padding: 17px 10px 17px 10px;
			margin: 0px 0px 0px 0px ;			
}
#navig-bar
{
	background-color: black;
}


.nav-barmain>li>a{
	margin: 5px 5px 5px 5px;
	padding:  5px 5px 5px 5px;
	background: grey;
	color: white;
}
.nav-barmain>li>a:hover{
	background: red;
}



.tempImg{
    width: 200px;
    padding:10px 10px 10px 10px;
}

.bottom{
	color: red;
	background-color: blue;
}